//
   Created with JetBrains WebStorm.
   User: john
   Date: 13-6-27
   Time: 下午8:35
   To change this template use File | Settings | File Templates.
extends layout
block content
    form.form-horizontal(method="post", action="/reg")
        fieldset
            legend 用户注册
            div.control-group
                label.control-label(for="username") 用户名
                div.controls
                    input#username.input-xlarge(type="text", name="username")
                    p.help-block 你的账户名称，用于登录和显示。
            div.control-group
                label.control-label(for="password") 口令
                div.controls
                    input#password.input-xlarge(type="password", name="password")
            div.control-group
               label.control-label(for="password-repeat") 重复输入口令
                div.controls
                    input#password-repeat.input-xlarge(type="password", name="password-repeat")
            div.form-actions
                input.btn.btn-primary(type="submit", value="注册")
